@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(111, 177, 213);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Blinker', sans-serif;
    margin: 0;
    padding-top: 3rem;
}

.add{
    background-color:   rgb(243, 123, 175);
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.note{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 400px;
    width: 400px;
}

.note .tools{
    background-color: rgb(243, 123, 175);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 0.5rem;
}

.note .main{
    background-color:  rgb(243, 215, 233);
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    background-color: rgb(243, 215, 233);
}

.note .hidden{
    display: none;
}